
body {
  background-attachment: fixed;
  background-image: url("https://i.pinimg.com/originals/20/fe/d6/20fed66c2bb51531210bff6a560cf13b.jpg");
  background-repeat:no-repeat;
  background-size: cover;

}


img {
  width:100%;
  max-width:70%;
  margin-left:15px;

}

/* img,
drax {
  width:100%;
  max-width:100%;
} */

p {
 margin:25px 50px 25px 50px;
 padding: 0 10px 0 10px ;
 color: white;
 font-size: 16px;
}

h1 {
   font-size: 80px;
   padding: -10px 0 ;

 }

/* Containers */

.main-footer {
  background: darkgreen;
  padding:1em 0;
  margin-top: 30px;
  text-align:center;
}
/* Navigation Bar */
.main-nav  {
  display:block;
  text-align: right;
  padding: 10px 15px;


}

.main-nav a {
  font-size: 2em;
  color: red;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav a:hover {
  color: #093a58;
  text-decoration:none;
}



.main-nav li {
  display:inline;
  margin-left:10px;

}






/* =================================
  Media Queries- Responsive Layout
==================================== */

@media (min-width: 789px) {

  .main-header {
    position:fixed;
    width:100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
    top:0;


  }
  img.internal-page {
      width: 44%;
      float: left;
      padding: 50px;
  }
/*
  img.internal-page2 {
    width:34%
    float: right;
    padding:50px;
  } */
  body {
    padding-top:83px;
  }
  p {
   margin:25px 50px 25px 50px;
   padding: 0 10px 0 10px ;
   color: white;
   font-size: 40px;
  }
}

@media (min-width:300px {

  .main-header {
    position:fixed;
    width:100%;
    background: grey;
    box-shadow: 0 1px 4px rbga(0, 0, 0, .4);
    top:0;
  }
  p {
   margin:25px 50px 25px 50px;
   padding: 0 10px 0 10px ;
   color: white;
   font-size: 40px;
  }

}
