

img {
  width:100%;
  max-width:100%;
}


}
/* =================================
  Media Queries
==================================== */

@media (min-width: 789px) {

	.wrap {
		min-height: calc(100vh - 89px);
	}

	.container {
		width: 85%;
		max-width: 1150px;
		margin: 0 auto;
	}

	.featured-img {
		width: 300px;
		float: left;
		margin-top: 5px;
		margin-right: 25px;
		margin-bottom: 25px;
		padding: 10px;
		border: solid 1px #d9e4ea;
	}

}
