
/* =============================
Base Styles ===================== */

/*main text */
 @font-face {
  font-family:"myFirstFont";
  src: url(http://fontstruct.com/fontstructions/show/1028404);
}




body {
  background-attachment: fixed;
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/10/56/445818251bc163e.jpg");
  background-repeat:no-repeat;
  background-size: cover;



}


h1 {
  color: White;
  Font-size: 60px;


}

h2 {
  color:white;
  font-size: 50px;

}

img {
  max-width:100%;
  width: 100%;
  padding-top: 0em:

}


p {
  color:white;
  font-family: cursive;
  margin:10px 15px ;
}


.welcome {
  padding: 0 50px 0 50px;


}

.text3 {

}




/* ---- Layout Containers ---- */
.main-header {
	
	margin-bottom: 15px;

}


.main-nav {
  color: red;
  background-color: black;
  opacity:.8;
  display:inline-block;
}

.main-footer {
  background: #d934ea;
  padding:2em 0;
  margin-top: 30px;
  text-align:center;
}


/*Main Navigation*/

.main-nav a{
  color:white;
  font-size: 40px;
  padding: 1px 5px;
  text-decoration: none;
  text-transform: uppercase;


}
.main-nav a:hover {
  color: green;
  text-decoration: none;
  text-transform: uppercase;


}

/* Bottom links */
.links a:hover {
  color: green;
  text-decoration: none;
}


.main-nav li {
  display: inline-block;
  color: red;
  text-decoration: none;

}

@media (min-width: 789px) {

.container {
   width:100%;
   margin: auto;

 }
 p {
   font-size: 2em;

 }


   .primary-col {
     /* background-color: lightgrey;
     background-size: cover;
     opacity:.5; */
     float:left;
     width:auto;

   }

   .secondary-col {
     /* background-color: lightgrey;
     background-size: cover;
     opacity:.5; */
     float:left;
     width:auto;

   }

  /* columns */

  .clearfix::after {
    content: "";
      clear: both;
    display: table;

}


@media (min-width: 1015px) {

.container {
   width:100%;
   margin: auto;

 }
 p {
 font-size: 20px;}


   .primary-col {
     /* background-color: lightgrey;
     background-size: cover;
     opacity:.5; */
     float:left;
     width:60%;

   }

   .secondary-col {
     /* background-color: lightgrey;
     background-size: cover;
     opacity:.5; */
     float:right;
     width:40%;

   }
   .clearfix::after {
     content: "";
       clear: both;
     display: table;

   }
}
