
/* =============================
Base Styles ===================== */

/*main text */

/* @font-face {
  font-family:"myFirstFont";
  src: url(http://fontstruct.com/fontstructions/show/1028404);
} */



body {
  background-attachment: fixed;
  background-image: url("https://ae01.alicdn.com/kf/HTB1euQnmH1YBuNjSszeq6yblFXaM/Galaxy-Stars-Space-Photo-Background-Photography-Backdrop-Quality-Vinyl.jpg_640x640.jpg");
  background-repeat:no-repeat;
  background-size: cover;



}


h1 {
  color: White;
  font-family:  'Erica One', cursive;
  text-align: center;
  text-transform: capitalize;
  font-size: 50px;



}

h2 {
  font-size: 50px;

}

img {
  max-width:100%;
  width: 100%;
  padding-top: 0em:

}


p {
  font-family: cursive;
  margin:10px 15px ;
}


.welcome {
  padding: 0 50px 0 50px;


}


/*
.text {
  background-color: lightgrey;
  opacity:0.5;


}
.text2 {
  background-color: lightgrey;

} */
.text3 {
  /* background-color: lightgrey;
  background-size: cover; */
}




/* ---- Layout Containers ---- */
.main-header {
  background: black;
	padding-top: 1.5em;
	padding-bottom: 10em;
	margin-bottom: 20px;
}

/*Main Navigation*/

.main-nav {
  color: white;
  background-color: lightgrey;
  opacity:.8;
  display: block;
  font-family: sans-serif;
  font-size: 40px;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;


}
/*
.main-nav active {
  color: green;
Or this
} */

.main-nav a:hover {
  color: green;

}
.links a:hover {
  color: green;
  text-decoration: none;
}


/* .main-nav ul {
  list-style-type: none;
  padding: 0;
  margin:0;
I dont think i need this
} */

.main-nav li {
  display: inline;

}

@media (min-width: 789px) {

.container {
   width:100%;
   margin: auto;

 }
 p {
   font-size: 2em;
 }


   .primary-col {
     background-color: lightgrey;
     background-size: cover;
     opacity:.5;
     float:left;
     width:auto;

   }

   .secondary-col {
     background-color: lightgrey;
     background-size: cover;
     opacity:.5;
     float:left;
     width:auto;

   }
/*
.container,primary-col {
  width:500px;
  height:200px
  float: left;
}

.container, secondary-col {
  width:500px;
  height:200px;
  float:left;

} */


  /* columns */

  .clearfix::after {
    content: "";
      clear: both;
    display: table;

}


@media (min-width: 1015px) {

.container {
   width:100%;
   margin: auto;

 }
 p {
 font-size: 50px;}


   .primary-col {
     background-color: lightgrey;
     background-size: cover;
     opacity:.5;
     font-size: 15px;
     float:left;
     width:60%;

   }

   .secondary-col {
     background-color: lightgrey;
     background-size: cover;
     opacity:.5;
     float:right;
     width:40%;

   }
   .clearfix::after {
     content: "";
       clear: both;
     display: table;

   }
}
